 /* body {
  font-size: 60.5%; 
}
  */
/* @media (max-width: 75em) {
  html{
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html{
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html{
    font-size: 75%;
  }
} */
/* 
.d-lg-flex{
  font-size: 1.7rem;
} */
.artboard {
  display:inline-block;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 2rem;
  /* font-size: 60.5%; */
  /* height: 100%; */
  position: relative;
}
@media (max-width: 37.5em) {
  .artboard {
    padding: 1rem;
  }
}

.card-part {
  flex: initial;
  position: relative;
  height: 35rem;
  width: 25rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin-top: 1rem;
}
.card__side {
  height: 35rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  border-radius: 3px;
  overflow: hidden;
  /* The image is overflowing the parent. */
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
/* .card__side--front {
} */
.card__side--back {
  background-color: #fff;
  transform: rotateY(180deg);
}
.card-part:hover .card__side--back {
  transform: rotateY(0);
}
.card-part:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}
.card__theme-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__subject {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.card__title {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
}
.card__cover {
  position: relative;
  background-size: cover;
  height: 10rem;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), darkblue), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__heading {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.card__heading-span {
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
  
}
.card__details {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  padding: 4rem 2rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .card-part {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 3rem 2rem;
  }
  .card__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
  }
  .card__theme-box {
    margin-bottom: 1.5rem;
  }
  .card__title {
    font-size: 3.5rem;
  }
}
.img-1{
  width: 90%;
  height: 40%;
}
.para-ser{
  font-size: 1.1rem;
}






.button1 {
  min-width: 50%;
  min-height: 50px;
  /* font-family: 'Nunito', sans-serif; */
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 500;
  color: white;
  background: darkblue;
background: linear-gradient(90deg, darkblue 0%,darkblue);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(26, 50, 160, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px;
  }

.button1::before {
content: '';
  border-radius: 1000px;
  box-shadow: 0 0 60px gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button1:hover, .button1:focus {
  color:white;
  transform: translateY(-6px);
}

.button1:hover::before, .button1:focus::before {
  opacity: 1;
}

.button1::after {
  content: '';
  width: 10px; height: 10px;
  border-radius: 100%;
  border: 6px solid darkblue;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button1:hover::after, .button1:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}